{% extends "base.html" %}
{% load bootstrap3 utils_tags i18n %}

{% block title %}{% trans 'Portfolio' %}{% endblock %}

{% block content %}

<div class="blog" id="portfolio">
    {% for company in companies %}
    {% with company.entry_set.non_deleted as projects_list %}
    {% if projects_list %}
    <h3 class="page-header">{{ company }}
        <span class="small">({{ company.from_date|date:"m-Y" }} - {% if company.to_date %}{{ company.to_date|date:"m-Y" }}{% else %}{% trans 'present' %}{% endif %})</span>
    </h3>

    {% for entry in projects_list %}
    <div class="row">
        <div class="col-lg-7 col-md-7">
            <img class="img-responsive" src="{% if entry.main_photo %}{{ MEDIA_URL }}{% thumbnail_c entry.main_photo 700 380 %}{% else %}http://placehold.it/700x380/E8117F/ffffff{% endif %}" alt="">
        </div>

        <div class="col-lg-5 col-md-5">
            <h3>{{ entry }}</h3>
            <p>
                <div>
                    {% if entry.site or entry.demo or entry.source %}<i class="glyphicon glyphicon-globe"></i> {% endif %}
                    {% if entry.site %}<a href="{{ entry.site }}">WWW</a>{% if entry.demo or entry.source %}, {% endif %}{% endif %}
                    {% if entry.demo %}<a href="{{ entry.demo }}">Demo</a>{% if entry.source %}, {% endif %}{% endif %}
                    {% if entry.source %}<a href="{{ entry.source }}">Source</a> {% endif %}
                </div>
                {% if entry.from_date %}
                <i class="glyphicon glyphicon-calendar"></i> {{ entry.from_date|date:"m-Y" }} - {% if entry.to_date %}{{ entry.to_date|date:"m-Y" }}{% else %}{% trans 'present' %}{% endif %}<br/>
                {% endif %}
                {{ entry.description|bbcode }}

                {% with entry.technologies.all as entry_tags %}
                    {% if entry_tags %}
                        {% for t in entry_tags %}<span class="label label-default label-{{ t|slugify }}">{{ t }}</span> {% endfor %}
                    {% endif%}
                {% endwith %}

            </p>
        </div>
    </div>
    <hr/>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% endfor %}

</div>

{% endblock %}
